@import 'mediaQueries';

$Primary_color: #0B041A;
$secondary_color: #CB9509;
$form_color: #FCFAED;
$skill_background: #ECE6F9;

.firstpage {
    width: 100%;
    height: 800;
    background-color: $Primary_color;
    @include responsive (tab-land){
        height: 700px;
     }
     @include responsive (bgtab-port){
        height: 550px;
    }
     @include responsive (tab-port){
         height: 700px;
     }
     @include responsive (phone){
         height: 600px;
     }
     @include responsive (big-desktop){
         height: 650px;
     }
    
   
    .main{
        #maintext {
            
            @include responsive (tab-land){
                padding: 140px 0px 20px 60px;
             }
             @include responsive (bgtab-port){
                padding: 100px 0px 20px 50px;
                float: left; 

            }
             @include responsive (tab-port){
                padding: 20px 0px 20px 110px;
             }
             @include responsive (phone){
                padding: 20px 0px 5px 20px;
             }
             @include responsive (big-desktop){
                padding: 140px 0px 20px 60px;
                float: left; 
             }
        }
        #image {
            @include responsive (tab-land){
                float: right;
                padding-right: 30px;
            }
            @include responsive (bgtab-port){
                padding: 10px;
                float: right;
             }

            @include responsive (tab-port){
                padding-right: 100px;
                text-align: center;
                float: centre;
             }
            
             @include responsive (phone) {
                padding-right: 50px;
                float: centre;
             }
             @include responsive (big-desktop) {
                float: right;
                padding-right: 50px;
             }

        }

    }

    ul{
        text-align: center;
    }

    .nav li {
        list-style-type: none;
        display: inline-block;
        padding: 30px;
        color: fff;
        @include responsive (tab-land){
            font-size: 17px;
            padding: 25px;
         }
         @include responsive (tab-port){
             font-size: 15px;
             padding: 20px;
         }
         @include responsive (phone){
             font-size: 15px;
             padding: 15px 5px;
         }
         @include responsive (big-desktop){
             font-size: 20px;
             padding: 30px;
         }
    }
   


    h3 {
        color: fff;
        font-size: 34px;
        font-weight: 600;
        text-align: center;
        padding: 0px 100px 5px 0px;
        

        @include responsive (tab-land){
            font-size: 28px;
         }
         @include responsive (bgtab-port){
            font-size: 20px;
        }
         @include responsive (tab-port){
             font-size: 24px;
             text-align: center;
         }
         @include responsive (phone){
             font-size: 20px;
             padding: 0px 40px 5px 0px;
         }
         @include responsive (big-desktop){
             font-size: 34px;
             float: left;
         }
    }

    span {
        color: $secondary_color;
        font-weight: 800;
    }

    .main {
        img {
            border-radius: 50%;
            @include responsive (tab-land){
                width: 500px;
                height: 500px;
                padding: 5px 10px ;
               
            }
            @include responsive (bgtab-port){
                width: 270px;
                height: 270px;
                padding: 10px 50px;
                border-radius: 50%;
            }
            @include responsive (tab-port){
                width: 250px;
                height: 300px;
                padding: 20px;
            
            }
            @include responsive (phone){
               width: 200px;
               height: 200px;
               float: centre;
            }
            @include responsive (big-desktop) {
                width: 400px;
                height: 400px;


            }
           
        }

        li {
            list-style-type: none;
            display: inline-block;
        }

        button {
            background-color: $secondary_color;
            color: fff;
            border-radius: 20px;
            width: 150px;
            height: 40px;
            text-align: center;
        }

        .buttons {
            padding:50px 30px 20px 60px;

            @include responsive (tab-land){
                padding: 40px 25px 15px 210px;
             }
             @include responsive (bgtab-port){
                font-size: 24px;
                padding:50px 30px 20px 60px;
            }
             @include responsive (tab-port){
                 padding: 15px 50px;
             }
             @include responsive (phone){
                 padding: 5px 10px 5px 17px;
             }
             @include responsive (big-desktop){
                 font-size: 34px;
             }

        }
    }
}

#about {
    
    h2 {
        color: $secondary_color;
        font-size: 48px;
        font-weight: bold;
        text-align: center;

        @include responsive (phone) {
            font-size: 30px;
        }
        @include responsive (tab-land) {
            font-size: 35px;
        }
        @include responsive (bgtab-port) {
            font-size: 40px;
        }
    }

    p {
        color: #33312C;
        font-size: 40px;
        text-align: center;

        @include responsive (phone) {
            font-size: 20px;
        }
        @include responsive (tab-port) {
            font-size: 25px;
        }
        @include responsive (bgtab-port) {
            font-size: 30px;
        }
        @include responsive (tab-land) {
            font-size: 35px;
        }
    }

    button {
        padding: 10px 50px;
        background-color: $Primary_color;
        border-radius: 15px;
        color: #fff;
        font-weight: 600;
    }

    .abt {
        padding-left: 45%;
        padding-bottom: 100px;

        @include responsive (phone) {
            padding-left: 20%;
            padding-bottom: 50px;
        }
        @include responsive (tab-port) {
            padding-left: 35%;
            padding-bottom: 15%;
        }
    }

    .skills {
        width: 600px;
        height: fit-content;
        background-color: $skill_background;
        border-radius: 30px;
        padding-left: 50px;

        @include responsive (tab-land){
            font-size: 28px;
            float: left;
         }
         @include responsive (bgtab-port){
            width: 400px;
            height: fit-content;
            background-color: $skill_background;
            border-radius: 30px;
            padding-left: 50px;
            float: left;
        }
         @include responsive (tab-port){
            width: 100%;
            height: fit-content;
            background-color: $skill_background;
            float: right;
         }
         @include responsive (phone){
            width: 100%;
            height: fit-content;
            background-color: $skill_background;
            padding-left: 3px;
         }
         @include responsive (big-desktop){
            width: 650px;
             font-size: 34px;
             float: left;
         }
    }

    li {
        font-size: 30px;
        color: #33312C ;
        padding-left: 24px;

        @include responsive (phone){
            font-size: 15px;
        }
        @include responsive (tab-port) {
            font-size: 20px;
            padding: 5px 50px 10px 50px;
        }
        @include responsive (big-desktop){
            font-size: 30px;
        }
    }

    .second {
        float: right;
        @include responsive (phone){
            float: none;
        }
    }

    .sk {
        padding: 30px 50px 50px 50px;
        @include responsive (phone) {
            padding: 5px 5px 30px 5px;
        }
    }
    #left {
        @include responsive (tab-land){
            float: left;
        }
        @include responsive (big-desktop){
            float: left;

        }
       
    }

    #right {
        @include responsive (tab-land){
            float: left;
        }
        @include responsive (big-desktop){
            float: right;
        }
    }
}

.education {
    width: 600px;
    height: fit-content;
    background-color: $skill_background;
    border-radius: 30px;
    padding: 20px 30px;

    @include responsive (tab-land){
        width: 450px;
        height: fit-content;
        background-color: $skill_background;
        border-radius: 25px;
        padding-left: 25px;
        float: right;

    }



    @include responsive (tab-land){
        width: 400px;
        height: fit-content;
        background-color: $skill_background;
        border-radius: 25px;
        padding-left: 25px;
     }
     @include responsive (bgtab-port){
        width: 400px;
        height: fit-content;
        background-color: $skill_background;
        border-radius: 25px;
        padding-left: 25px;
        float: right;
    }
     @include responsive (tab-port){
        width: 100%;
        height: fit-content;
        background-color: $skill_background;
        border-radius: 30px;
        padding: 10px 0 30px 10px;
     }
     @include responsive (phone){
        width: 100%;
        height: fit-content;
        background-color: $skill_background;
        border-radius: 30px;
        padding-left: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
     }
     @include responsive (big-desktop){
        width: 600px;
        height: fit-content;
        background-color: $skill_background;
        border-radius: 30px;
        padding-left: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
        float: right;
     }
}

.ed {
    padding: 30px 50px 50px 50px;
    @include responsive (phone){
        padding: 270px 40px 20px 5px;
    }
    @include responsive (tab-port){
        padding: 400px 60px 20px 5px;
    }

}

#contact {
    width:100%;
    height:190px;
    padding-top:20px;
    padding-left:15px;
    padding-right:15px;

    @include responsive (bgtab-port){
        padding-top: 200px;
    }
    @include responsive (big-desktop){
        padding-top: 190px;
    }


    h2 {
        font-weight: bold;
        text-align: center;
        color: #33312C;

        @include responsive (phone){
            font-size: 30px;
        }
        
        @include responsive (tab-port){
            font-size: 35px;
        }
        @include responsive (bgtab-port){
            font-size: 40px;
            padding-top: 100px;
        }
        @include responsive (tab-land){
            font-size: 40px;
            padding-top: 300px;
        }
        @include responsive (big-desktop){
            font-size: 48;
            padding: 100px;
            text-align: center;
        }
    }

    form {
        input {
            width: 600px;
            border-radius: 10px;
            padding: 12px 5px;
            margin: 8px 0;
            box-sizing: border-box;
            background-color: $skill_background;

            @include responsive (phone){
                width: 100%;
            }
            @include responsive (tab-port){
                width: 100%;
            }
            @include responsive (bgtab-port){
                width: 100%;
            }
        }

        textarea { 
            width: 600px;
            border-radius: 10px;
            box-sizing: border-box;
            margin: 8px 0;
            background-color: $skill_background;

            @include responsive (phone){
                width: 100%;
            }
            @include responsive (tab-port){
                width: 100%;
            }
            @include responsive (bgtab-port){
                width: 100%;
            }

        }

        button {
            background-color: $Primary_color;
            color: fff;
            padding: 10px 50px;
            text-align: centre;
            font-size: 15px;
            font-weight: 500;
            border-radius: 10px;
        }

        #btn {
            padding: 4% 30%;
            @include responsive (phone){
                padding: 20px 20px;
            }
            @include responsive (tab-port){
                padding: 25px 70px;
            }
            @include responsive (bgtab-port){
                padding: 25px 90px;
            }
        }
    }

    .socials {
        float:right;
        width:45%;
        height:160px;
        padding-right: 10px;
        @include responsive (phone){
            padding-top: 30px;
        }
       
    
        p {
            color: $secondary_color;
            font-weight: 600;
            font-size: 30px;
            text-align: center;
            @include responsive (phone){
                font-size: 20px;
            }
            @include responsive (tab-port){
                font-size: 24px;
            }
            @include responsive (bgtab-port){
                font-size: 30px;
            }
        }
    
        li {
            list-style-type: none;
            display: inline-block;
            padding: 20px;

        }

        img {
            width: 50px;
            height: 50px;

            @include responsive (phone){
                width: 20px;
                height: 20px;
            
            }
            @include responsive (tab-port){
                width: 25px;
                height: 25px;
            
            }
            @include responsive (bgtab-port){
                width: 25px;
                height: 25px;
            
            }
        }

        h5 {
            color: #33312C;
            font-size: 24px;
            text-align: center;

            @include responsive (phone){
                font-size: 15px;
            }
            @include responsive (tab-port){
                font-size: 18px;
            }
        }
        #copy {
            font-size: 15px;
            text-align: right;
            color: #33312C;

            @include responsive (phone){
                font-size: 8px;
            }
            @include responsive (tab-port){
                font-size: 10px;
            }

        }
        #pad {
            text-align: center;
        }
    }

}
.forms {
    float:left;
    width:45%;
    height:160px;
    padding-left: 30px;
    padding-top: 70px;

    @include responsive (phone){
        padding-left: 5px;
        padding-top: 20px;
    }
}
a:link { 
    text-decoration: none;
    color: fff; 
}


a:visited { 
    text-decoration: none;
    color: fff;
 }


a:hover { 
    text-decoration: none;
    color: $secondary_color;
 }


a:active { 
    text-decoration: none;
    color: $form_color;
 }

