.firstpage {
  width: 100%;
  height: 800;
  background-color: #0B041A;
}
@media only screen and (max-width: 1550px) {
  .firstpage {
    height: 700px;
  }
}
@media only screen and (max-width: 1235px) {
  .firstpage {
    height: 550px;
  }
}
@media only screen and (max-width: 900px) {
  .firstpage {
    height: 700px;
  }
}
@media only screen and (max-width: 600px) {
  .firstpage {
    height: 600px;
  }
}
@media only screen and (min-width: 1800px) {
  .firstpage {
    height: 650px;
  }
}
@media only screen and (max-width: 1550px) {
  .firstpage .main #maintext {
    padding: 140px 0px 20px 60px;
  }
}
@media only screen and (max-width: 1235px) {
  .firstpage .main #maintext {
    padding: 100px 0px 20px 50px;
    float: left;
  }
}
@media only screen and (max-width: 900px) {
  .firstpage .main #maintext {
    padding: 20px 0px 20px 110px;
  }
}
@media only screen and (max-width: 600px) {
  .firstpage .main #maintext {
    padding: 20px 0px 5px 20px;
  }
}
@media only screen and (min-width: 1800px) {
  .firstpage .main #maintext {
    padding: 140px 0px 20px 60px;
    float: left;
  }
}
@media only screen and (max-width: 1550px) {
  .firstpage .main #image {
    float: right;
    padding-right: 30px;
  }
}
@media only screen and (max-width: 1235px) {
  .firstpage .main #image {
    padding: 10px;
    float: right;
  }
}
@media only screen and (max-width: 900px) {
  .firstpage .main #image {
    padding-right: 100px;
    text-align: center;
    float: centre;
  }
}
@media only screen and (max-width: 600px) {
  .firstpage .main #image {
    padding-right: 50px;
    float: centre;
  }
}
@media only screen and (min-width: 1800px) {
  .firstpage .main #image {
    float: right;
    padding-right: 50px;
  }
}
.firstpage ul {
  text-align: center;
}
.firstpage .nav li {
  list-style-type: none;
  display: inline-block;
  padding: 30px;
  color: fff;
}
@media only screen and (max-width: 1550px) {
  .firstpage .nav li {
    font-size: 17px;
    padding: 25px;
  }
}
@media only screen and (max-width: 900px) {
  .firstpage .nav li {
    font-size: 15px;
    padding: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .firstpage .nav li {
    font-size: 15px;
    padding: 15px 5px;
  }
}
@media only screen and (min-width: 1800px) {
  .firstpage .nav li {
    font-size: 20px;
    padding: 30px;
  }
}
.firstpage h3 {
  color: fff;
  font-size: 34px;
  font-weight: 600;
  text-align: center;
  padding: 0px 100px 5px 0px;
}
@media only screen and (max-width: 1550px) {
  .firstpage h3 {
    font-size: 28px;
  }
}
@media only screen and (max-width: 1235px) {
  .firstpage h3 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 900px) {
  .firstpage h3 {
    font-size: 24px;
    text-align: center;
  }
}
@media only screen and (max-width: 600px) {
  .firstpage h3 {
    font-size: 20px;
    padding: 0px 40px 5px 0px;
  }
}
@media only screen and (min-width: 1800px) {
  .firstpage h3 {
    font-size: 34px;
    float: left;
  }
}
.firstpage span {
  color: #CB9509;
  font-weight: 800;
}
.firstpage .main img {
  border-radius: 50%;
}
@media only screen and (max-width: 1550px) {
  .firstpage .main img {
    width: 500px;
    height: 500px;
    padding: 5px 10px;
  }
}
@media only screen and (max-width: 1235px) {
  .firstpage .main img {
    width: 270px;
    height: 270px;
    padding: 10px 50px;
    border-radius: 50%;
  }
}
@media only screen and (max-width: 900px) {
  .firstpage .main img {
    width: 250px;
    height: 300px;
    padding: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .firstpage .main img {
    width: 200px;
    height: 200px;
    float: centre;
  }
}
@media only screen and (min-width: 1800px) {
  .firstpage .main img {
    width: 400px;
    height: 400px;
  }
}
.firstpage .main li {
  list-style-type: none;
  display: inline-block;
}
.firstpage .main button {
  background-color: #CB9509;
  color: fff;
  border-radius: 20px;
  width: 150px;
  height: 40px;
  text-align: center;
}
.firstpage .main .buttons {
  padding: 50px 30px 20px 60px;
}
@media only screen and (max-width: 1550px) {
  .firstpage .main .buttons {
    padding: 40px 25px 15px 210px;
  }
}
@media only screen and (max-width: 1235px) {
  .firstpage .main .buttons {
    font-size: 24px;
    padding: 50px 30px 20px 60px;
  }
}
@media only screen and (max-width: 900px) {
  .firstpage .main .buttons {
    padding: 15px 50px;
  }
}
@media only screen and (max-width: 600px) {
  .firstpage .main .buttons {
    padding: 5px 10px 5px 17px;
  }
}
@media only screen and (min-width: 1800px) {
  .firstpage .main .buttons {
    font-size: 34px;
  }
}

#about h2 {
  color: #CB9509;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  #about h2 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 1550px) {
  #about h2 {
    font-size: 35px;
  }
}
@media only screen and (max-width: 1235px) {
  #about h2 {
    font-size: 40px;
  }
}
#about p {
  color: #33312C;
  font-size: 40px;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  #about p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 900px) {
  #about p {
    font-size: 25px;
  }
}
@media only screen and (max-width: 1235px) {
  #about p {
    font-size: 30px;
  }
}
@media only screen and (max-width: 1550px) {
  #about p {
    font-size: 35px;
  }
}
#about button {
  padding: 10px 50px;
  background-color: #0B041A;
  border-radius: 15px;
  color: #fff;
  font-weight: 600;
}
#about .abt {
  padding-left: 45%;
  padding-bottom: 100px;
}
@media only screen and (max-width: 600px) {
  #about .abt {
    padding-left: 20%;
    padding-bottom: 50px;
  }
}
@media only screen and (max-width: 900px) {
  #about .abt {
    padding-left: 35%;
    padding-bottom: 15%;
  }
}
#about .skills {
  width: 600px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #ECE6F9;
  border-radius: 30px;
  padding-left: 50px;
}
@media only screen and (max-width: 1550px) {
  #about .skills {
    font-size: 28px;
    float: left;
  }
}
@media only screen and (max-width: 1235px) {
  #about .skills {
    width: 400px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: #ECE6F9;
    border-radius: 30px;
    padding-left: 50px;
    float: left;
  }
}
@media only screen and (max-width: 900px) {
  #about .skills {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: #ECE6F9;
    float: right;
  }
}
@media only screen and (max-width: 600px) {
  #about .skills {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: #ECE6F9;
    padding-left: 3px;
  }
}
@media only screen and (min-width: 1800px) {
  #about .skills {
    width: 650px;
    font-size: 34px;
    float: left;
  }
}
#about li {
  font-size: 30px;
  color: #33312C;
  padding-left: 24px;
}
@media only screen and (max-width: 600px) {
  #about li {
    font-size: 15px;
  }
}
@media only screen and (max-width: 900px) {
  #about li {
    font-size: 20px;
    padding: 5px 50px 10px 50px;
  }
}
@media only screen and (min-width: 1800px) {
  #about li {
    font-size: 30px;
  }
}
#about .second {
  float: right;
}
@media only screen and (max-width: 600px) {
  #about .second {
    float: none;
  }
}
#about .sk {
  padding: 30px 50px 50px 50px;
}
@media only screen and (max-width: 600px) {
  #about .sk {
    padding: 5px 5px 30px 5px;
  }
}
@media only screen and (max-width: 1550px) {
  #about #left {
    float: left;
  }
}
@media only screen and (min-width: 1800px) {
  #about #left {
    float: left;
  }
}
@media only screen and (max-width: 1550px) {
  #about #right {
    float: left;
  }
}
@media only screen and (min-width: 1800px) {
  #about #right {
    float: right;
  }
}

.education {
  width: 600px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #ECE6F9;
  border-radius: 30px;
  padding: 20px 30px;
}
@media only screen and (max-width: 1550px) {
  .education {
    width: 450px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: #ECE6F9;
    border-radius: 25px;
    padding-left: 25px;
    float: right;
  }
}
@media only screen and (max-width: 1550px) {
  .education {
    width: 400px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: #ECE6F9;
    border-radius: 25px;
    padding-left: 25px;
  }
}
@media only screen and (max-width: 1235px) {
  .education {
    width: 400px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: #ECE6F9;
    border-radius: 25px;
    padding-left: 25px;
    float: right;
  }
}
@media only screen and (max-width: 900px) {
  .education {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: #ECE6F9;
    border-radius: 30px;
    padding: 10px 0 30px 10px;
  }
}
@media only screen and (max-width: 600px) {
  .education {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: #ECE6F9;
    border-radius: 30px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
}
@media only screen and (min-width: 1800px) {
  .education {
    width: 600px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: #ECE6F9;
    border-radius: 30px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    float: right;
  }
}

.ed {
  padding: 30px 50px 50px 50px;
}
@media only screen and (max-width: 600px) {
  .ed {
    padding: 270px 40px 20px 5px;
  }
}
@media only screen and (max-width: 900px) {
  .ed {
    padding: 400px 60px 20px 5px;
  }
}

#contact {
  width: 100%;
  height: 190px;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}
@media only screen and (max-width: 1235px) {
  #contact {
    padding-top: 200px;
  }
}
@media only screen and (min-width: 1800px) {
  #contact {
    padding-top: 190px;
  }
}
#contact h2 {
  font-weight: bold;
  text-align: center;
  color: #33312C;
}
@media only screen and (max-width: 600px) {
  #contact h2 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 900px) {
  #contact h2 {
    font-size: 35px;
  }
}
@media only screen and (max-width: 1235px) {
  #contact h2 {
    font-size: 40px;
    padding-top: 100px;
  }
}
@media only screen and (max-width: 1550px) {
  #contact h2 {
    font-size: 40px;
    padding-top: 300px;
  }
}
@media only screen and (min-width: 1800px) {
  #contact h2 {
    font-size: 48;
    padding: 100px;
    text-align: center;
  }
}
#contact form input {
  width: 600px;
  border-radius: 10px;
  padding: 12px 5px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #ECE6F9;
}
@media only screen and (max-width: 600px) {
  #contact form input {
    width: 100%;
  }
}
@media only screen and (max-width: 900px) {
  #contact form input {
    width: 100%;
  }
}
@media only screen and (max-width: 1235px) {
  #contact form input {
    width: 100%;
  }
}
#contact form textarea {
  width: 600px;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 8px 0;
  background-color: #ECE6F9;
}
@media only screen and (max-width: 600px) {
  #contact form textarea {
    width: 100%;
  }
}
@media only screen and (max-width: 900px) {
  #contact form textarea {
    width: 100%;
  }
}
@media only screen and (max-width: 1235px) {
  #contact form textarea {
    width: 100%;
  }
}
#contact form button {
  background-color: #0B041A;
  color: fff;
  padding: 10px 50px;
  text-align: centre;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
}
#contact form #btn {
  padding: 4% 30%;
}
@media only screen and (max-width: 600px) {
  #contact form #btn {
    padding: 20px 20px;
  }
}
@media only screen and (max-width: 900px) {
  #contact form #btn {
    padding: 25px 70px;
  }
}
@media only screen and (max-width: 1235px) {
  #contact form #btn {
    padding: 25px 90px;
  }
}
#contact .socials {
  float: right;
  width: 45%;
  height: 160px;
  padding-right: 10px;
}
@media only screen and (max-width: 600px) {
  #contact .socials {
    padding-top: 30px;
  }
}
#contact .socials p {
  color: #CB9509;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  #contact .socials p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 900px) {
  #contact .socials p {
    font-size: 24px;
  }
}
@media only screen and (max-width: 1235px) {
  #contact .socials p {
    font-size: 30px;
  }
}
#contact .socials li {
  list-style-type: none;
  display: inline-block;
  padding: 20px;
}
#contact .socials img {
  width: 50px;
  height: 50px;
}
@media only screen and (max-width: 600px) {
  #contact .socials img {
    width: 20px;
    height: 20px;
  }
}
@media only screen and (max-width: 900px) {
  #contact .socials img {
    width: 25px;
    height: 25px;
  }
}
@media only screen and (max-width: 1235px) {
  #contact .socials img {
    width: 25px;
    height: 25px;
  }
}
#contact .socials h5 {
  color: #33312C;
  font-size: 24px;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  #contact .socials h5 {
    font-size: 15px;
  }
}
@media only screen and (max-width: 900px) {
  #contact .socials h5 {
    font-size: 18px;
  }
}
#contact .socials #copy {
  font-size: 15px;
  text-align: right;
  color: #33312C;
}
@media only screen and (max-width: 600px) {
  #contact .socials #copy {
    font-size: 8px;
  }
}
@media only screen and (max-width: 900px) {
  #contact .socials #copy {
    font-size: 10px;
  }
}
#contact .socials #pad {
  text-align: center;
}

.forms {
  float: left;
  width: 45%;
  height: 160px;
  padding-left: 30px;
  padding-top: 70px;
}
@media only screen and (max-width: 600px) {
  .forms {
    padding-left: 5px;
    padding-top: 20px;
  }
}

a:link {
  text-decoration: none;
  color: fff;
}

a:visited {
  text-decoration: none;
  color: fff;
}

a:hover {
  text-decoration: none;
  color: #CB9509;
}

a:active {
  text-decoration: none;
  color: #FCFAED;
}/*# sourceMappingURL=style.css.map */